@import "../lee/common.css";

body {
    /* border: solid 1px; */
    margin: 0 auto;


}


/* 팀 점수 */
/* section #bar{
    background: url('../kim/점수판.png')no-repeat;
    background-size: 100%;
    
} */
section .scoreMenu{
    background-image: url('../kim/점수판.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    border: 3px solid rgb(61, 72, 78);

    /* animation: borderColor 0.5s infinite alternate; */
}

@keyframes borderColor {
    0%{ 
        border: 5px solid black;
    }100%{
        border: 5px dashed blue;
    }
}

section #teambar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 30px;
    font-weight: bold;
    margin: 0 auto;
    /* margin-left: 25%;
    padding: 2% 1.5%;
    border: 1px solid white; */

}

section #teambar #team1{
    background: url("https://upload.wikimedia.org/wikipedia/ko/thumb/a/ae/Chelsea_FC_Logo.svg/1200px-Chelsea_FC_Logo.svg.png"); 
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 99999999999999999999999;
    width: 50px;
    height: 50px;
    position:relative;
    right: 30px;
    top: 20px;
}
section #teambar #team2{
    background: url("https://i.namu.wiki/i/XwXbAQ090mF1X_K2_gAVrxhWi5y-ZldZpGnrDi-uKmu5UfbDV0o31iNlY8movo-zs3UiKgLSpDWfTKCc4uOuSyT3QX-c9AV1SijaGs4XymrFGGindkgntPouUhf3dWoza6sDOgnI9yA1Y6aCVdTv4A.svg"); 
    display: block;
    background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
     z-index: 99999999999999999999999;
     width: 50px;
     height: 50px;
    position:relative;
    left: 5px;    
    top: 20px;
}


section #teambar li:nth-child(1) {
    color: red;
    
}

section #teambar li:nth-child(4) {
    color: rgb(240, 117, 240);
    
}


section #teambar .score {
    color: white;
    font-size: 1.2em;
}

section #teambar .score:nth-child(2) {
    color: white;
    position: relative;
    left: 92px;
    top: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 2.1em;
    background-color: rgb(61, 72, 78);
    border-radius: 20%;
}

section #teambar .score:nth-child(3) {
    color: white;
    position: relative;
    right: 87px;
    top: 20px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 36px;
    font-size: 2.1em;
    background-color: rgb(61, 72, 78);
    border-radius: 20%;
}


/* 방향선정 */
section #direction {
    /* border: 2px white solid; */
    width: 55%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section #direction li {
    /* border: 3px solid red; */
    width: 33%;
    height: 100px;
}

/* 남은횟수 */
section #chance {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 1.3;
    position: relative;
}

section #chance #t1chance {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
section #chance #t1chance li{
    margin-left: 23px;
    position: relative;
    left: 102px;
    bottom: 12px;
    text-align: center;
    font-size: 1.5em;
    
    color: white;
    
    border-radius: 80%;
    
}

section #chance #t2chance {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
    right: 60px;
}
section #chance #t2chance li{
    font-size: 1.5em;
    
    margin-right: 22px;
    position: relative;
    right: 42px;
    bottom: 12px;
    text-align: center;
    
    color: white;
    
    border-radius: 80%;
    
}

section #chance li {
    float: left;
    font-weight: bold;

}

section #chance li::after {
    content: '';
    margin-right: 30px;
    height: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section#Outer-GoalPost-Supporters-box div#chance ul.chanceul {
    width: 100%;
    margin: 0 auto;
}

/* 키퍼 */
section #goalkeeper {
    border: 1px white solid;
    width: 100px;
    height: 180px;
    margin: 25% 45.5%;
    background: #000;
    background: url('../../CSS/lee/pic/De-hea-normal.png');
    background-position: center;
    background-size: 105px;

    position: absolute;
    bottom: 13%;
    right: 1%;

    z-index: 1000;

}

/* 예비버튼 */
/* section #button {
    border: solid 5px yellow;
    width: 5%;
} */

/* section#Outer-GoalPost-Supporters-box ul#MainMenu li#inr-Menu {
    width: 125px;
    height: 100%;

    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-weight: bold;

    cursor: pointer;
    text-align: center;

    position: absolute;
    left: 0;
    top: 0;

} */

/* 키퍼이동 좌 */

.b1 {
    animation: left 0.4s;
}

@keyframes left {
    0% {
        right: 1%; transform: rotate(0deg);
    }

    10% {
        right: 2%;
    }

    20% {
        right: 3%;
    }

    30% {
        right: 4%;
    }

    40% {
        right: 5%;
    }

    50% {
        right: 6%;
    }

    60% {
        right: 7%;
    }

    70% {
        right: 8%;
    }

    80% {
        right: 9%;
    }

    90% {
        right: 10%;
    }

    100% {
        right: 11%; transform: rotate(-60deg);;
    }
}

/* 키퍼이동 중 */
.b2 {
    animation: center 0.4s;

}

@keyframes center {
    0% {
        bottom: 100%;
    }

    50% {
        bottom: 101%;
    }

    100% {
        bottom: 102%;
    }

}

/* 키퍼이동 우 */
.b3 {
    animation: right 0.4s;
}

@keyframes right {
    0% {
        left: 1%; transform: rotate(0deg);
    }

    10% {
        left: 2%;
    }

    20% {
        left: 3%;
    }

    30% {
        left: 4%;
    }

    40% {
        left: 5%;
    }

    50% {
        left: 6%;
    }

    60% {
        left: 7%;
    }

    70% {
        left: 8%;
    }

    80% {
        left: 9%;
    }

    90% {
        left: 10%;
    }

    100% {
        left: 11%; transform: rotate(60deg);
    }
}