@import url('../common.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

section#Outer {
    position: relative;
}

/* 전체 틀 */
section#Field-box {


    width: 70%;
    height: 600px;

    margin: 0 auto;

    position: relative;
}

div.container {
    width: 100%;

    position: relative;
}


/* 공 + spot 묶음 박스 */
section#Field-box div.ball-spot-direction-box {
    background-image: url('../won/pic/grass.png');

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;


    width: 100%;
    height: 480px;

    float: left;
    position: relative;
}

/* 공 */
section#Field-box div.container div#Ball {
    background-image: url('../../CSS/won/pic/Ball.png');
    background-size: 100%;
    border-radius: 50%;

    width: 60px;
    height: 60px;

    position: relative;
    bottom: -42%;
    left: 48.9%;

    animation: Tremble 1s infinite alternate;

    z-index: 1000;
}

@keyframes Tremble {
    0% {
        transform: rotate(-6deg);
    }

    5% {
        transform: rotate(0);
    }

    10% {
        transform: rotate(3deg);
    }

}
/* 슈팅 막혔을때 애니메이션 */
@keyframes blockShootingLeft {
    0% {
        transform: translate(0, 0) rotate(0);

    }
    10% {
        transform: translate(-40px, -60px) rotate(250deg);
    }

    20% {
        transform: translate(-80px, -120px) rotate(500deg);
    }

    30% {
        transform: translate(-120px, - 180px) rotate(1000deg);
    }

    40% {
        transform: translate(-180px, -270px) rotate(1500deg);
    }

    50% {
        transform: translate(-250px, -370px) rotate(1800deg);
    }

    60% {
        transform: translate(-280px, -300px) rotate(2200deg);
    }

    70% {
        transform: translate(-300px, -260px) rotate(2500deg);
    }

    80% {
        transform: translate(-320px, -200px) rotate(2800deg);

    }

    90% {
        transform: translate(-360px, -150px) rotate(3200deg);
    }

    100% {
        transform: translate(-400px, -100px) rotate(3600deg);
    }

}
@keyframes blockShootingCenter {
    0% {
        transform: translate(0, 0) rotate(0);

    }
    10% {
        transform: translate(0, -60px) rotate(250deg);
    }

    20% {
        transform: translate(0, -120px) rotate(500deg);
    }

    30% {
        transform: translate(0, - 180px) rotate(1000deg);
    }

    40% {
        transform: translate(0, -270px) rotate(1500deg);
    }

    50% {
        transform: translate(0, -370px) rotate(1800deg);
    }

    60% {
        transform: translate(0, -300px) rotate(2200deg);
    }

    70% {
        transform: translate(0, -260px) rotate(2500deg);
    }

    80% {
        transform: translate(0, -200px) rotate(2800deg);

    }

    90% {
        transform: translate(0, -150px) rotate(3200deg);
    }

    100% {
        transform: translate(0, -100px) rotate(3600deg);
    }

}


@keyframes blockShootingRight {
    0% {
        transform: translate(0, 0) rotate(0);

    }

    10% {
        transform: translate(40px, -60px) rotate(250deg);
    }

    20% {
        transform: translate(80px, -120px) rotate(500deg);
    }

    30% {
        transform: translate(120px, -180px) rotate(1000deg);
    }

    40% {
        transform: translate(180px, -270px) rotate(1500deg);
    }

    50% {
        transform: translate(250px -370px) rotate(1800deg);
    }

    60% {
        transform: translate(280px, -300px) rotate(2200deg);
    }

    70% {
        transform: translate(300px, -260px) rotate(2500deg);
    }

    80% {
        transform: translate(320px, -200px) rotate(2800deg);

    }

    90% {
        transform: translate(360px, -150px) rotate(3200deg);
    }

    100% {
        transform: translate(400px, -100px) rotate(3600deg);
    }

}
/* 슈팅 들어갔을때 애니메이션 */

@keyframes ShootingLeft {
    0% {
        transform: translate(0, 0) rotate(0);

    }
    10% {
        transform: translate(-20px, -40px) rotate(250deg);
    }

    20% {
        transform: translate(-40px, -80px) rotate(500deg);
    }

    30% {
        transform: translate(-80px, - 120px) rotate(1000deg);
    }

    40% {
        transform: translate(-100px, -160px) rotate(1500deg);
    }

    50% {
        transform: translate(-130px, -200px) rotate(1800deg);
    }

    60% {
        transform: translate(-150px, -240px) rotate(2200deg);
    }

    70% {
        transform: translate(-180px, -280px) rotate(2500deg);
    }

    80% {
        transform: translate(-210px, -310px) rotate(2800deg);

    }

    90% {
        transform: translate(-230px, -340px) rotate(3200deg);
    }

    100% {
        transform: translate(-250px, -370px) rotate(3600deg);
    }

}
@keyframes ShootingCenter {
    0% {
        transform: translate(0, 0) rotate(0);

    }
    10% {
        transform: translate(0, -40px) rotate(250deg);
    }

    20% {
        transform: translate(0, -60px) rotate(500deg);
    }

    30% {
        transform: translate(0, -100px) rotate(1000deg);
    }

    40% {
        transform: translate(0, -140px) rotate(1500deg);
    }

    50% {
        transform: translate(0, -180px) rotate(1800deg);
    }

    60% {
        transform: translate(0, -220px) rotate(2200deg);
    }

    70% {
        transform: translate(0, -260px) rotate(2500deg);
    }

    80% {
        transform: translate(0, -300px) rotate(2800deg);

    }

    90% {
        transform: translate(0, -335px) rotate(3200deg);
    }

    100% {
        transform: translate(0, -370px) rotate(3600deg);
    }

}


@keyframes ShootingRight {
    0% {
        transform: translate(0, 0) rotate(0);

    }

    10% {
        transform: translate(25px, -50px) rotate(250deg);
    }

    20% {
        transform: translate(50px, -100px) rotate(500deg);
    }

    30% {
        transform: translate(75px, -150px) rotate(1000deg);
    }

    40% {
        transform: translate(100px, -190px) rotate(1500deg);
    }

    50% {
        transform: translate(130px -230px) rotate(1800deg);
    }

    60% {
        transform: translate(160px, -270px) rotate(2200deg);
    }

    70% {
        transform: translate(190px, -300px) rotate(2500deg);
    }

    80% {
        transform: translate(220px, -330px) rotate(2800deg);

    }

    90% {
        transform: translate(240px, -360px) rotate(3200deg);
    }

    100% {
        transform: translate(250px, -370px) rotate(3600deg);
    }

}



/* spot */
section#Field-box div.container div#Spot img {
    border-radius: 50%;
    border: 2px dotted lightgray;
    box-shadow: 0 10px 15px;

    width: 60px;
    height: 20px;

    position: absolute;
    bottom: 44%;
    left: 48.91%;


}

/* 방향 관련 묶음 박스 */
section#Field-box div.container div.ball-spot-direction-box div.direction {
    width: 30%;
    height: 30%;

    position: absolute;
    bottom: 10%;
    left: 36%;
}

/* 입력 표시 묶음 박스 */
section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box {
    width: 100%;
    margin: 0 auto;
}


/* 위아래 반복 이동 효과 */
@keyframes jumping {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-5px);
    }
}

/* 방향 입력 버튼 사진 */
section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box .text-Btn-box button#Shooting img {
    width: 12px;
    border-radius: 50%;

    position: relative;
    top: 1.5px;
}

/* 방향 입력 표시 묶음 박스 */
section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box nav.inputDirection-box {
    display: flex;
}

/* 방향 입력 표시 */
section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box nav.inputDirection-box button {
    width: 100%;
    height: 100px;

    font-size: 40px;

    cursor: pointer;

    position: relative;
    top: 50px;

    box-shadow: 0 0 10px;
    box-sizing: border-box;
}

section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box nav.inputDirection-box button .button1{
    background: url('pic/LeftBtn.png') no-repeat center/60%;
    transform: rotate(270deg);
    height: 100%;
}
section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box nav.inputDirection-box button .button2{
    background: url('pic/CenterBtn.png') no-repeat center/60%;
    height: 100%;
    
}
section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box nav.inputDirection-box button .button3{
    background: url('pic/RightBtn.png') no-repeat center/60%;
    transform: rotate(90deg);
    height: 100%;
}

section#Field-box div.container div.ball-spot-direction-box div.direction div.direction-box nav.inputDirection-box button:hover {
    animation: fadeOut 1s infinite alternate;
}
@keyframes buttonEffect {
    0% {
        background: url('pic/CenterBtn.png') no-repeat;
        background-size: cover;
        border: 4px solid ivory;
    }
    100% {
        background: url('pic/CenterBtn.png') no-repeat;
        background-size: cover;
        border: 4px solid rgb(59, 28, 88);
    }
}

/*  hover시 효과 */
@keyframes fadeOut {
    0% {
        background: black;
        border: 10px solid ivory;
        color: ivory;
    }

    50% {
        background: ivory;
        border: 10px solid black;
        color: black;

    }

    100% {
        background: black;
        border: 10px solid ivory;
        color: ivory;
    }
}

/* Player 묶음 박스 */
section#Outer div.player-box {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    position: absolute;
    left: 23%;
    top: 320px;

    z-index: 9999;
}

/* Player */
section#Outer div#Player {
    width: 100px;
    height: 100px;

    background: url('../won/pic/God-normal.png') no-repeat;
    background-size: 100%;

    border-radius: 50%;
    border: 7px solid blue;
    color: black;

    font-weight: bold;
    font-size: 30px;
    text-align: center;
    line-height: 2.5;

    box-shadow: 0 10px 15px;

    z-index: 1000;

    animation: playerJumping 0.5s infinite alternate;
}

/* Player 동작 효과 */
@keyframes playerJumping {
    0% {
        transform: translateY(0);
        height: 90px;
    }

    100% {
        transform: translateY(-50px);
        height: 100px;
    }
}

/* Player 등번호 */
section#Outer div#Player::before {
    content: '11';
    color: white;

    width: 100%;
    height: 100%;

    box-sizing: border-box;
    background: blue;
    border: 5px solid white;
    border-radius: 50%;
    font-size: 40px;
    line-height: 1.7em;

    position: relative;

    display: none;
}

/* Player 등번호 hover 효과 */
section#Outer div#Player:hover::before {
    display: inline-block;

}

/* ======================================================================================== GoalPost */


/* 골대 + 관중 전체 묶음 틀 */
section#Outer-GoalPost-Supporters-box {
    width: 70%;
    margin: 0 auto;
}

/* 골대 + 관중 묶음 박스 */
section#Outer-GoalPost-Supporters-box .inr-Supporters-goalPost-box {
    width: 100%;
    height: 300px;

}

/* 골대 + 관중 ul*/
section#Outer-GoalPost-Supporters-box .inr-Supporters-goalPost-box ul {

    width: 100%;
    height: 300px;

    display: flex;
    overflow: hidden;

}

/* 관중 */
section#Outer-GoalPost-Supporters-box .inr-Supporters-goalPost-box ul li#Supporters1 img {
    width: 800px;
    height: 600px;

    z-index: -100;

    animation: Supporters 2s infinite alternate;
    /* animation: Supporters-left-right 1s infinite alternate; */
    /* animation: SuccessShooting 0.05s infinite alternate; */
}

section#Outer-GoalPost-Supporters-box .inr-Supporters-goalPost-box ul li#Supporters2 img {
    width: 800px;
    height: 600px;

    position: relative;
    right: 10%;
    bottom: 30%;

    z-index: -100;

    animation: Supporters 2s infinite alternate;
    /* animation: Supporters-left-right 1s infinite alternate; */
    /* animation: SuccessShooting 0.05s infinite alternate; */
}

.success-shoot {
    animation: SuccessShooting 0.05s infinite alternate;
}

@keyframes Supporters-left-right {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(-0.5);
    }
}

/* 골대 */
section#Outer-GoalPost-Supporters-box .inr-Supporters-goalPost-box ul li#GoalPost {
    width: 33%;
    height: 300px;
    background: url('../골대이미지/골대찐막.png') no-repeat;
    background-size: 100%;

    position: absolute;
    left: 34%;

    z-index: 500;
}

/* 관중 기본 효과 */
@keyframes Supporters {
    0% {
        transform: translateY(-20px);
    }

    80% {
        transform: translateY(-30px);
    }

    90% {
        transform: translateY(-25px);
    }

    100% {
        transform: translateY(-35px);
    }
}

/* 슈팅 성공 시 관중 효과 */
@keyframes SuccessShooting {
    0% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(-50px);
    }
}

@keyframes showUp {
    0% {
        opacity: 0;
        top: -50%;
    }
    50% {
        opacity: 0.5;
        top: 0;
    }
    100% {
        opacity: 1;
        top: 50%;
        z-index: 100;
    }
}

section#Outer div#ShowBox {
    font-family: fantasy;
    font-weight: 700;
    font-size: 140px;
    color: gold;
    width: 20%;
    border-radius: 50%;

    position: absolute;
    line-height: 140px;
    left: 40%;
    top: 40%;

    display: none;

    z-index: 10000;
    /* animation: move 1s linear forwards; */
    animation: blink-effect 0.7s 2 linear;
}
/* 골들어갔을때 깜빡이는 효과 */
@keyframes blink-effect {
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

/* @keyframes move {
    0% {
        opacity: 0;
        top: 0;
        transform: translateX(0) rotate(0) scale(1);
    }
    50%{
        opacity: 0.5;
        top: 15%;
        transform: translateX(-25%) rotate(360deg) scale(1.5);
    }
    100% {
        opacity: 1;
        top: 30%;
        transform: translateX(-50%) rotate(720deg) scale(2);
    }
} */

div.ball-spot-direction-box div.main-box {
    background: ivory;
    border: 4px solid rgb(59, 28, 88);
    border-radius: 15px;

    width: 15%;
    height: 10%; 
    margin: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
    cursor: pointer;
    
    position: absolute;
    right: 1%;
    bottom: 30%;
}
div.ball-spot-direction-box div.main-box div#main {
    color: rgb(59, 28, 88);
    font-size: 25px;
}

div.ball-spot-direction-box div.main-box:hover {
    animation: MainMenuBtn 0.5s infinite alternate;
}   
@keyframes MainMenuBtn {
    0% {
        background-size: cover;
        color: ivory;
        border: 4px solid ivory;
    }
    100% {
        background-size: cover;
        color: rgb(59, 28, 88);
        border: 4px solid rgb(59, 28, 88);
        width: 20%;
    }
}


div.main-box a#main {
    font-size: 30px;
    font-weight: bold;

    position: relative;

}

div.ball-spot-direction-box div.logo-box {
    background: url('/CSS/won/pic/EPLlogo.png') no-repeat;
    background-size: cover;
    border-radius: 20px;

    width: 20%;
    height: 22%;
    margin: 20px;

    position: absolute;
    right: 1%;
    bottom: 5%;

    display: inline;    
}

div.ball-spot-direction-box div.logo-box:hover {
    animation: EPLlogo 0.5s infinite alternate;
}
@keyframes EPLlogo {
    0% {
        background: url('/CSS/won/pic/EPLlogo.png') no-repeat;
        background-size: cover;
        border: 4px solid ivory;
    }
    100% {
        background: url('/CSS/won/pic/EPLlogo.png') no-repeat;
        background-size: cover;
        background-position: center;
        border: 4px solid rgb(59, 28, 88);
        width: 25%;
    }
}